name: UI Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser: [ui-chromium, ui-firefox, ui-webkit]

    env:
      SAUCEDEMO_USERNAME: ${{ secrets.SAUCEDEMO_USERNAME }}
      SAUCEDEMO_PASSWORD: ${{ secrets.SAUCEDEMO_PASSWORD }}
      SAUCEDEMO_INVALID_USERNAME: ${{ secrets.SAUCEDEMO_INVALID_USERNAME }}
      SAUCEDEMO_INVALID_PASSWORD: ${{ secrets.SAUCEDEMO_INVALID_PASSWORD }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}

      - name: Install deps
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run UI tests
        run: npx playwright test UI/ --project=${{ matrix.browser }}

      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report-${{ matrix.browser }}
          path: playwright-report

      - name: Upload Allure Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results-${{ matrix.browser }}
          path: allure-results

  publish-report:
    runs-on: ubuntu-latest
    needs: ui-tests
    if: always()

    steps:
      - uses: actions/checkout@v4

      - name: Download all Allure Results
        uses: actions/download-artifact@v4
        with:
          path: allure-results
          pattern: allure-results-*
          merge-multiple: true

      - name: Load test report history
        uses: actions/checkout@v4
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build Allure Report
        uses: simple-elf/allure-report-action@master
        with:
          gh_pages: gh-pages/ui
          allure_history: allure-history/ui
          allure_results: allure-results
          subfolder: ui

      - name: Copy landing page
        run: |
          mkdir -p allure-history
          cp .github/pages/index.html allure-history/index.html

      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
          keep_files: true
